@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700,300);
/* Implementation */
body {
  background-color: #262626;
  font-family: 'Oxygen', sans-serif;
}
#wrapper {
  width: 100%;
  background-color: #262626;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: #d7d5d5;
}
.page-header {
  margin: 10px 0 20px;
}
.ts-navbar-inner {
  min-height: 40px;
  background-color: #262626;
  border-radius: 4px;
}
.ts-navbar-inner .container {
  padding-left: 0px;
}
.ts-navbar-inner .container .nav li {
  width: 90px;
  text-align: center;
}
.ts-navbar-inner .container .nav li a {
  height: 38px;
  padding-top: 10px;
  -webkit-box-shadow: inset 0 1px 30px #000000;
  -moz-box-shadow: inset 0 1px 30px #000000;
  box-shadow: inset 0 1px 30px #000000;
}
.ts-navbar-inner .container .nav li a:hover {
  color: #f28705;
}
.ts-navbar-inner .navbar-nav .active a {
  background-color: transparent;
  color: #f28705;
}
.ts-navbar-inner .navbar-nav .active a:hover {
  background-color: transparent;
  color: #f28705;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #eeeeee;
  }
}
.ts-navbar {
  background-color: #ffffff;
}
.navbar-top-links {
  margin-right: 0;
  padding-left: 18px;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 15px;
}
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
  color: #161516;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
.sidebar {
  background-color: transparent;
  font-size: 12px;
}
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .sidebar-search {
  padding: 15px;
}
.sidebar ul li {
  border-bottom: 1px solid #161516;
  border-top: 1px solid #3d3a3d;
}
.sidebar ul li a {
  color: #ffffff;
}
.sidebar ul li a.active {
  background-color: #f28705;
  -webkit-box-shadow: inset 0 1px 30px #000000;
  -moz-box-shadow: inset 0 1px 30px #000000;
  box-shadow: inset 0 1px 30px #000000;
}
.sidebar ul li a:hover {
  background-color: #f28705;
  -webkit-box-shadow: inset 0 1px 30px #000000;
  -moz-box-shadow: inset 0 1px 30px #000000;
  box-shadow: inset 0 1px 30px #000000;
}
.sidebar .arrow {
  float: right;
}
.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}
@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 50px;
  }
  .navbar-header {
    width: 250px;
    background-color: #f2a343;
  }
  .navbar-header a {
    color: #ffffff !important;
    text-align: center;
    width: 100%;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary.btn-outline {
  color: #428bca;
}
.btn-success.btn-outline {
  color: #529e52;
}
.btn-info.btn-outline {
  color: #5bc0de;
}
.btn-warning.btn-outline {
  color: #f28705;
}
.btn-danger.btn-outline {
  color: #d90707;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}
.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #b0adb0;
}
.chat li.left .chat-body {
  margin-left: 60px;
}
.chat li.right .chat-body {
  margin-right: 60px;
}
.chat li .chat-body p {
  margin: 0;
}
.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}
.chat-panel {
  display: inline-block;
  height: 100% !important;
  margin-top: 0 !important;
}
.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}
.mainNav .leftNavi {
  padding-right: 0;
}
.mainNav .leftNavi .ts-navbar-inner {
  line-height: 522px;
  height: 52px;
  margin-bottom: 0;
  -webkit-box-shadow: inset 0 1px 30px #000000;
  -moz-box-shadow: inset 0 1px 30px #000000;
  box-shadow: inset 0 1px 30px #000000;
}
.mainNav .leftNavi .ts-navbar-inner .nav .active {
  -webkit-box-shadow: inset 0 1px 30px #000000;
  -moz-box-shadow: inset 0 1px 30px #000000;
  box-shadow: inset 0 1px 30px #000000;
}
.mainNav .leftNavi .ts-navbar-inner .nav li {
  padding: 5px 0;
  width: 175px;
  text-align: center;
}
.mainNav .leftNavi .ts-navbar-inner .nav li a {
  padding: 0 ;
  line-height: 20px;
  height: 20px;
  margin: 10px 0;
  background-color: transparent;
  font-weight: bold;
  border-right: 1px solid #6d686d;
}
.mainNav .chatDiv {
  padding-left: 0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #f28705;
  background-color: #262626;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #777;
  background-color: #262626;
}
.chat-panel-header {
  margin: 0 !important;
  width: 100%;
}
.chat-panel-header li {
  width: 100%;
  text-align: center;
  background-color: #f28705;
  color: #fff !important;
}
.chat-panel-header li span {
  height: 50px;
  display: block;
  line-height: 50px;
}
.mainContainer article {
  padding-right: 0;
}
.mainContainer aside {
  padding-left: 0;
}
.login-panel {
  margin-top: 25% !important;
}
.flot-chart {
  display: block;
  height: 400px;
}
.flot-chart-content {
  width: 100%;
  height: 100%;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
}
table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, 0.5);
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}
.show-grid {
  margin: 15px 0;
}
.huge {
  font-size: 25px;
  display: inline-block;
}
.panel a {
  color: #ffffff;
}
.panel a:hover {
  text-decoration: none;
  color: #DDF0FF;
}
.panel .panel-nametag {
  display: inline-block;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: #fff;
  height: 36px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  line-height: 25px;
}
.panel .dash-units {
  text-align: center;
  font-size: 30px;
}
.panel {
  margin-bottom: 0;
  margin-top: 20px;
  position: relative;
}
.panel .updateEditbtn {
  text-align: center;
  background-color: #ffffff;
  position: absolute;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: right top 0;
  transform-origin: right top 0;
  width: 118.889px;
  top: 0px;
  right: 32.33px;
  height: 33.33px;
}
.panel a.panel-side-link {
  color: #6d686d;
  line-height: 33.33px;
}
.Units .updateEditbtn {
  width: 98.889px;
}
.panel-green {
  border-color: #529e52;
  background-color: transparent;
  border: 0;
  box-shadow: none;
}
.panel-green .panel-heading {
  border-color: #529e52;
  color: white;
  background-color: #529e52;
  text-align: center;
}
.panel-green .panel-nametag {
  background-color: #3d763d;
}
.panel-red {
  border-color: #d90707;
  background-color: transparent;
  border: 0;
  box-shadow: none;
}
.panel-red .panel-heading {
  border-color: #d90707;
  color: white;
  background-color: #d90707;
  text-align: center;
}
.panel-red .panel-nametag {
  background-color: #9e0505;
}
.panel-yellow {
  border-color: #f28705;
  background-color: transparent;
  border: 0;
  box-shadow: none;
}
.panel-yellow .panel-heading {
  border-color: #f28705;
  color: white;
  background-color: #f28705;
  text-align: center;
}
.panel-yellow .panel-nametag {
  background-color: #b66604;
}
.dash-border {
  border-bottom: 1px dashed #A5A5A5;
  border-left: 1px dashed #A5A5A5;
  border-right: 1px dashed #A5A5A5;
  display: flex;
  width: 100%;
}
.dashboard-label {
  padding: 20px 0px 0px 0px;
  display: block;
}
.border-right {
  border-right: 1px dashed #A5A5A5;
}
.border-right .no-widget {
  height: 120px;
}
/*
 *  STYLE 1
 */
#chat-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
#chat-body::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}
#chat-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
#unitsModal .form-group .control-label {
  padding-right: 0;
}
